.AppForm {
  width: 50%;
  margin: 70px auto;
}

.AppFormCtrls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.AppFormCtrls > div {
  margin: 10px 10px 0 0;
}

.AppFormHeader Button {
  margin-left: auto;
}
